* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

li {
  list-style: none;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .kl-main {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .kl-main {
    width: 1000px;
  }
}

@media screen and (min-width: 1366px) {
  .kl-main {
    width: 1280px;
  }
}

.kl-header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #474a58;
}

.kl-header__input {
  height: 2rem;
  width: 14rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  background-color: #555763;
  border: 1px solid #6a6a6a;
  border-radius: 3px;
  box-sizing: border-box;
}

.kl-header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2.8rem;
  background-color: #268de4;
  border: 1px solid #268de4;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

::-webkit-input-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }

.kl-header__search:hover {
  background-color: #3a9ef3;
  border: 1px solid #3a9ef3;
}

.kl-header__search:active {
  background-color: #2896f3;
  border: 1px solid #2896f3;
}

.kl-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
}

.kl-icon.ki-search {
  background-image: url(../images/icon-search.png);
}

.kl-main {
  margin: auto;
}

.kl-section {
  display: flex;
  padding: .5rem;
}

.kl-section__item {
  flex: 1;
  flex-basis: 40%
}

.kl-section__item.kl-section__item_large {
  flex-basis: 60%
}

.kl-content {
  position: relative;
  margin: .5rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.kl-content::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: -2rem;
  left: 0;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: 3px solid #268de4;
  box-sizing: border-box;
}

.kl-shadow-box {
  padding: 1rem;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.kl-chart {
  width: 100%;
  height: 30rem;
}

.kl-slider {
  position: relative;
  height: 15rem;
  border-left: 1px solid #333;
}

.ui-slider .ui-slider-range {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
}

.kl-slider .ui-slider-handle {
  position: absolute;
  left: 0;
  right: 2.5rem;
  height: 1rem;
  margin-bottom: -.5rem;
  cursor: pointer;
  z-index: 2;
}

.kl-slider .ui-slider-handle::before {
  content: '敲出';
  position: absolute;
  top: -.1rem;
  right: -2.5rem;
  color: #268de4;
}
.kl-slider .ui-slider-handle:nth-child(2)::before {
  content: '敲入';
}

.kl-slider .ui-slider-handle::after {
  content: '';
  position: absolute;
  top: .5rem;
  right: 0;
  left: 0;
  border-top: 2px dashed #268de4;
}

.kl-slider.ui-slider-vertical.ui-slider-pips {
  margin-right: 0;
  margin-left: 2rem;
}

.kl-slider.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
  left: -2.2rem;
}

.kl-button-group {
  display: flex;
  justify-content: center;
}

.kl-button-group .kl-button {
  width: 4rem;
  margin: 0 1rem;
  padding: .5rem 0;
  text-align: center;
  color: #268de4;
  background-color: #ebf3fc;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.kl-button-group .kl-button.kl-button_active {
  color: #fff;
  background-color: #268de4;
}

.kl-button-group .kl-button:hover {
  color: #fff;
  background-color: #3a9ef3;
}

.kl-button-group .kl-button:active {
  color: #fff;
  background-color: #2896f3;
}