* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  background-color: #fff;
}

li {
  list-style: none;
}

.pt2 {
  padding-top: 2rem !important;
}

.kl-header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #474a58;
}

.kl-header__input {
  height: 2.5rem;
  width: 16rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  background-color: #555763;
  border: 1px solid #6a6a6a;
  border-radius: 3px;
  box-sizing: border-box;
}

ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  width: 16rem !important;
  max-height: 15rem;
  border: 1px solid #6a6a6a;
  background: #fff;
  border-radius: 3px;
  overflow: auto;
}

ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item div {
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  cursor: pointer;
}

ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li.ui-menu-item:hover {
  background-color: #ececec;
}

.ui-helper-hidden-accessible {
  display: none;
}

.kl-header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 3rem;
  background-color: #268de4;
  border: 1px solid #268de4;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.kl-header ::-webkit-input-placeholder {
  color: #fff;
}

.kl-header :-moz-placeholder {
  color: #fff;
}

.kl-header ::-moz-placeholder {
  color: #fff;
}

.kl-header :-ms-input-placeholder {
  color: #fff;
}

.kl-header__search:hover {
  background-color: #3a9ef3;
  border: 1px solid #3a9ef3;
}

.kl-header__search:active {
  background-color: #2896f3;
  border: 1px solid #2896f3;
}

.kl-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
}

.kl-icon.ki-search {
  background-image: url(../images/icon-search.png);
}

.kl-main {
  margin: auto;
  padding: 1rem 0 2rem 0;
}

.kl-section {
  display: flex;
  padding-top: 1rem;
}

.kl-section__item {
  flex-basis: 40%;
}

.kl-section__item.kl-section__item_small {
  flex-basis: 45%;
}

.kl-section__item.kl-section__item_middle {
  flex-basis: 55%;
}

.kl-section__item.kl-section__item_large {
  flex-basis: 60%;
}

.kl-content {
  position: relative;
  margin: .8rem;
  margin-top: 2.3rem;
  padding-top: 1rem;
}

.kl-content::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: -3rem;
  left: 0;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: bold;
  border-bottom: 3px solid #268de4;
  box-sizing: border-box;
}

.kl-content_t {
  margin-top: 3.5rem;
}

.kl-shadow-box {
  padding: 1rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.kl-shadow-box.kl-shadow-box_chart {
  padding: 1rem 0;
}

.kl-chart {
  width: 100%;
  height: 32.55rem;
}

.kl-slider {
  position: relative;
  height: 5rem;
  border-left: 1px solid #333;
}

.kl-slider.kl-slider_output::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 2.5rem;
  display: block;
  height: 0;
  border-bottom: 2px solid #333;
}

.kl-slider.kl-slider_input::before {
  content: '';
  position: absolute;
  top: -5rem;
  left: -1px;
  display: block;
  height: 10rem;
  width: 0;
  border-left: 1px solid #333;
}

.kl-slider .ui-slider-handle {
  position: absolute;
  left: 0;
  right: 2.5rem;
  height: 1rem;
  margin-bottom: -.5rem;
  cursor: pointer;
  z-index: 2;
}

.kl-slider .ui-slider-handle::before {
  content: '';
  position: absolute;
  top: -.1rem;
  right: -2.5rem;
  color: #268de4;
}

.kl-slider.kl-slider_output .ui-slider-handle::before {
  content: '敲出';
}

.kl-slider.kl-slider_input .ui-slider-handle::before {
  content: '敲入';
}

.kl-slider .ui-slider-range {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
}

.kl-slider.kl-slider_output .ui-slider-range {
  bottom: 0;
}

.kl-slider.kl-slider_input .ui-slider-range {
  top: 0;
}

.kl-slider .ui-slider-handle::after {
  content: '';
  position: absolute;
  top: .5rem;
  right: 0;
  left: 0;
  border-top: 2px dashed #268de4;
}

.kl-slider.ui-slider-vertical.ui-slider-pips {
  margin-right: 0;
  margin-left: 2rem;
}

.kl-slider.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
  left: -2.2rem;
}

.kl-slider .ui-slider-pip-initial .ui-slider-label {
  color: #999;
  font-weight: normal;
}

.kl-slider .ui-slider-pip-inrange .ui-slider-label {
  color: #333;
  font-weight: normal;
}

.kl-slider .ui-slider-pip-selected .ui-slider-label {
  color: #268de4;
  font-weight: bold;
}

.kl-button-group {
  display: flex;
  justify-content: center;
}

.kl-button-group .kl-button {
  width: 4rem;
  margin: 0 .5rem;
  padding: .3rem 0;
  text-align: center;
  color: #268de4;
  background-color: #ebf3fc;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.kl-button-group .kl-button.kl-button_active {
  color: #fff;
  background-color: #268de4;
}

.kl-button-group .kl-button:hover {
  color: #fff;
  background-color: #3a9ef3;
}

.kl-button-group .kl-button:active {
  color: #fff;
  background-color: #2896f3;
}

.kl-compute {
  position: absolute;
  display: flex;
  top: -2.4rem;
  left: 4rem;
}

.kl-compute__button {
  align-items: center;
  height: 2rem;
  width: 5rem;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  background-color: #268de4;
  border: 1px solid #268de4;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.kl-compute__button:hover {
  background-color: #3a9ef3;
}

.kl-compute__button:active {
  background-color: #2896f3;
}

.kl-compute__info {
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  color: #ef9035;
}

.date-main {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.kl-table {
  width: 100%;
  color: #333;
  border-collapse: collapse;
}

.date-tips {
  margin: 0 1rem;
  padding: .7rem 0;
  color: #666;
  font-size: 12px;
  border-top: 1px dashed #dbdbdb;
}

.kl-table thead {
  background-color: #ebf3fc;
}

.kl-table th,
.kl-table td {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.kl-table th {
  padding: .8rem 0;
  font-weight: bold;
}

.kl-table tbody tr:first-child td {
  padding-top: .8rem;
}

.kl-table tbody tr:last-child td {
  padding-bottom: .8rem;
}

.kl-table tbody tr td:first-child {
  padding-left: .8rem;
  font-weight: bold;
  text-align: left;
  color: #268de4;
}

.kl-table tbody tr td:last-child {
  padding-right: .8rem;
}

.kl-table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

.kl-table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

.kl-table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.kl-table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.kl-help {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.kl-help dl {
  display: flex;
  padding: 2rem 1rem;
  border-bottom: 1px dashed #dbdbdb;
}

.kl-help dl:last-child {
  border-bottom: 0px;
}

.kl-help dl dt {
  padding: 1rem 0 0 1rem;
  flex-basis: 45%;
}

.kl-help dl dd {
  flex-basis: 55%;
}

.kl-help dl p {
  margin-bottom: 1rem;
}

.kl-help dl strong {
  padding-left: 1rem;
}

.kl-help dl strong span {
  color: #ef9035;
}

.kl-help dl .kl-help__description {
  display: block;
  padding-left: 1rem;
  color: #939393;
}

.kl-help-image {
  width: 100%;
}

.kl-help-image__wrapper {
  margin: .5rem;
}

.w100 {
  width: 100%;
}

.fb100 {
  flex-basis: 100% !important;
}

/* login */
.login {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/bg-login.jpg) no-repeat;
  background-size: cover;
}

.login-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28rem;
  height: 22rem;
  padding: 2rem;
  margin-top: -13rem;
  margin-left: -16rem;
  background: rgba(255, 255, 255, 0.7);
  ;
  border-radius: 8px;
}

.login-main h4 {
  font-size: 22px;
  font-weight: normal;
  margin: 1.5rem 0 2rem 0px;
}

.login-group {
  position: relative;
  margin-top: 1rem;
}

.login-group span {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 1.4rem;
}

.login-group input {
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 16px;
  text-indent: 4rem;
  border-radius: 5px;
  border: 1px solid #6dbcff;
}

.login-group .error-msg {
  display: none;
  position: absolute;
  top: 4rem;
  width: 100%;
  text-align: center;
  color: red;
}

.login-group .btn-login {
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 5px;
  background: #268de4;
  border: 0px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .kl-main {
    padding: 0 .5rem;
    box-sizing: border-box;
  }

  .kl-section,
  .kl-help dl {
    flex-direction: column;
  }

  .kl-help {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .kl-help dl {
    padding: 1.5rem 0;
  }

  .kl-help dl dt {
    padding: 0 0 1rem 0;
  }

  .kl-chart {
    height: 20rem;
  }

  .login-main {
    width: 82%;
    top: 22%;
    left: 9%;
    height: auto;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .login-main h4 {
    color: #fff;
    text-align: center;
  }
}


.kl-toast__wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 45%;
  width: 100%;
  z-index: 100;
}

.kl-toast__wrapper .kl-toast {
  display: none;
  max-width: 80%;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.kl-toast__wrapper .kl-toast.hl-toast_show {
  display: inline-block;
  animation: scaleIn .3s forwards;
}

.kl-toast__wrapper .kl-toast.hl-toast_hide {
  display: inline-block;
  animation: scaleOut .3s forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
    opacity: 0
  }
  to {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1
  }
  to {
    transform: scale(0.5);
    opacity: 0
  }
}

@media screen and (max-width: 1279px) {
  .kl-main {
    width: 100%;
  }

  .kl-help dl {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .kl-main {
    width: 1000px;
  }
}

@media screen and (min-width: 1366px) {
  .kl-main {
    width: 1100px;
  }
}